p {
  color: black;
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #444;
    padding-top: 50px; /* To avoid content being hidden behind navbar */
}

h1 {
  text-align:center; font-family:Georgia;
}

.navbar {
  
 
  background-color: red;
  position: sticky;
  top : 50px;
  background-color:  #989ce0;
 
}

section {
    padding: 70px;
    margin: 20px 0;
}

.navbar a {
  float: left;
  color: blue;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
